<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Administração</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="images/logo.png" alt="">
            </div>

            <span class="logo_name">Admin</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-book-reader"></i>
                    <span class="link-name">Alunos</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Professores</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comment-info"></i>
                    <span class="link-name">Chamados</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-truck"></i>
                    <span class="link-name">Fornecedores</span>
                </a></li>

            </ul>
            
            <ul class="logout-mode">
                <li><a href="{{ url_for('logout') }}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Sair</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Modo Escuro</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Procurar por...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Administração</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-book-reader"></i>
                        <span class="text">Alunos Ativos</span>
                        <span class="number">80</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Professores Ativos</span>
                        <span class="number">15</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-truck"></i>
                        <span class="text">Fornecedores Ativos</span>
                        <span class="number">12</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Atualização</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Nome</span>
                        <span class="data-list">Luiz</span>
                        <span class="data-list">Ativa moveis</span>
                        <span class="data-list">Aluno3</span>

                        
                    </div>
                    <div class="data email">
                        <span class="data-title">Categoria</span>
                        <span class="data-list">Professores</span>
                        <span class="data-list">Fornecedores</span>
                        <span class="data-list">Alunos</span>

                        
                    </div>
                    <div class="data joined">
                        <span class="data-title">Data Transação</span>
                        <span class="data-list">12-05-2023</span>
                        <span class="data-list">13-05-2023</span>
                        <span class="data-list">15-05-2023</span>

                    </div>
                    <div class="data type">
                        <span class="data-title">Situação</span>
                        <span class="data-list" style="color: #2d5c2d; font-weight: bold;">Concluído</span>
                        <span class="data-list" style="color: #9c433d; font-weight: bold;">Pendente</span>
                        <span class="data-list" style="color: #2d5c2d; font-weight: bold;">Concluído</span>

                    </div>
                    <div class="data status">
                        <span class="data-title">Contas a Receber</span>
                        <span class="data-list">-</span>
                        <span class="data-list">-</span>
                        <span class="data-list" style="color: #2d5c2d; font-weight: bold;">R$ 400,00</span>

                    </div>
                    <div class="data status">
                        <span class="data-title">Contas a Pagar</span>
                        <span class="data-list" style="color: #9c433d; font-weight: bold;">R$ 10000,00 </span>
                        <span class="data-list" style="color: #9c433d; font-weight: bold;">R$ 40000,00 </span>
                        <span class="data-list">-</span>


                    </div>

                    <div class="data status">
                        <span class="data-title">Observação</span>
                        <span class="data-list">Salário</span>
                        <span class="data-list">Compra de cadeiras<p>e mesas escolares</p> </span>
                        <span class="data-list">Mensalidade</span>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
<script>
    const body = document.querySelector("body"),
      modeToggle = body.querySelector(".mode-toggle");
      sidebar = body.querySelector("nav");
      sidebarToggle = body.querySelector(".sidebar-toggle");

let getMode = localStorage.getItem("mode");
if(getMode && getMode ==="dark"){
    body.classList.toggle("dark");
}

let getStatus = localStorage.getItem("status");
if(getStatus && getStatus ==="close"){
    sidebar.classList.toggle("close");
}

modeToggle.addEventListener("click", () =>{
    body.classList.toggle("dark");
    if(body.classList.contains("dark")){
        localStorage.setItem("mode", "dark");
    }else{
        localStorage.setItem("mode", "light");
    }
});

sidebarToggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
    if(sidebar.classList.contains("close")){
        localStorage.setItem("status", "close");
    }else{
        localStorage.setItem("status", "open");
    }
})
</script>
</html>