<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Login</title>
    
</head>
<body>
    <div class="container">
        <div class="menu-lateral">
            <img src="{{ url_for('static', filename='img/senac_logo_branco.png') }}" alt="Logo" class="logo">
            <h1 class="titulo">Sistema de Gestão Universitária</h1>
            <img src="{{ url_for('static', filename='img/cap.png') }}" alt="Graduation Cap" class="graduation-cap">
            <div class="acessibilidade">
                <div class="acessibilidade-menu" id="acessibilidadeMenu">
                    <div class="menu-item">
                        <img src="{{ url_for('static', filename='img/modoescuro.png') }}" alt="Dark mode icon" class="dark-mode-icon">
                        <label class="switch">
                            <input type="checkbox" id="darkModeToggle">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                
                
                <div class="acessibilidade" onclick="toggleAcessibilidadeMenu()">
                    <img src="{{ url_for('static', filename='img/acessibilidade.png') }}" alt="Accessibility" class="accessibility-icon">
                    <span class="texto_acessibilidade">Acessibilidade</span>
                </div>
            </div>
        </div>
        <div class="login-container">
            <h2>Faça seu Login</h2>
            <form action="{{ url_for('login_with_role') }}" method="post">
                <div class="input-container">
                    <img src="{{ url_for('static', filename='img/user.png') }}" alt="Usuário" class="input-icon" placeholder="Login">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Usuário" required> <!-- Adicionado atributo required -->
                </div>
                <div class="input-container">
                    <img src="{{ url_for('static', filename='img/password.png') }}" alt="Senha" class="input-icon" placeholder="Senha">
                    <input type="password" id="password" name="password" class="input-field" placeholder="Senha" required> <!-- Adicionado atributo required -->
                </div>
                {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
                {% endif %}

                <a href="#" class="recuperar-senha">Recuperar Senha</a>
                <button type="button" class="entrar" onclick="login()">Entrar</button>
                <div class="roles">
                    <button type="button" class="diretor">Direção</button>
                    <button type="button" class="professor">Professor</button>

                </div>
            </form>
        </div>
    </div>
</body>
<script>
    const darkModeToggle = document.getElementById('darkModeToggle');
    darkModeToggle.checked = localStorage.getItem('theme') === 'dark';

    darkModeToggle.addEventListener('change', () => {
        const theme = darkModeToggle.checked ? 'dark' : 'light';
        localStorage.setItem('theme', theme);
        document.documentElement.setAttribute('data-theme', theme);

        if (theme === 'dark') {
            const darkModeCSS = document.createElement('link');
            darkModeCSS.rel = 'stylesheet';
            darkModeCSS.type = 'text/css';
            darkModeCSS.href = '{{ url_for("static", filename="styles.css") }}';
            darkModeCSS.id = 'darkModeCSS';
            document.head.appendChild(darkModeCSS);
        } else {
            const darkModeCSS = document.getElementById('darkModeCSS');
            if (darkModeCSS) {
            document.head.removeChild(darkModeCSS);
            }
        }
    });

function login(role) {
  const username = document.getElementById("username").value;
  const password = document.getElementById("password").value;

  if (username === "" || password === "") {
    alert("Por favor, insira um nome de usuário e senha.");
    return;
  }

  const form = new FormData();
  form.append("username", username);
  form.append("password", password);

  if (role) {
    form.append("role", role);
  }

  fetch("{{ url_for('login_with_role') }}", {
    method: "POST",
    body: form,
  })
    .then((response) => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error("Usuário ou senha inválidos.");
      }
    })
    .then((data) => {
      if (data === "diretor") {
        window.location.href = "{{ url_for('diretor') }}";
      } else if (data === "professor") {
        window.location.href = "{{ url_for('professor') }}";
      } else if (data === "aluno") {
        window.location.href = "{{ url_for('aluno') }}";
      }
    })
    .catch((error) => {
      alert(error.message);
    });
}

document.querySelector(".entrar").addEventListener("click", function () {
  login();
});

document.querySelector(".diretor").addEventListener("click", function () {
  login("diretor");
});

document.querySelector(".professor").addEventListener("click", function () {
  login("professor");
});


</script>
</html>
